body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.left {
  display: flex;
  margin-left: 5vw;
}

.left > a {
  color: white;
}

.right {
  margin-right: 5vw;
}

.page-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  height: 5vh;
}

.btn {
  font-size: 2vmin;
}

a {
  color: black;
}

/* .logo {
  display: flex;
  align-items: center;
} */